/* Center header text */
#main-header {
  text-align: center;
}

/* Center image */
img {
  display: block;
  margin: auto;
}

/* Style navigation links */
nav a {
  padding: 10px;
  background-color: grey;
}

/* Center image caption */
figcaption {
  font-size: 14px;
  text-align: center;
}

/* Center text block and give <p>s a hard width */
#featured-property {
  text-align: center;
}
#featured-property p {
  width: 800px;
  margin: 20px auto;
}

/* Make details section horizontal */
#details div {
  float: left;
  width: 25%;
}

/* Style bottom <div>s */
#bottom-section div {
  width: 25%;
  text-align: center;
  background-color: lightgrey;
  margin: 20px 0;
}
